@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-3 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active">Overview</li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
        </ul>
    </div>
</div>