@{ 
    Layout = "_Layout";
    ViewBag.Title = "Homepage";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Welcome to my portal on the web.</p>
            <a asp-controller="Main" asp-action="securearea" class="btn btn-lg btn-success">Go To Secure Area</a>
        </div>
    </div>
</div>